{% extends 'base.html.twig' %}

{% block title %}Mission index{% endblock %}

{% block body %}
    <h1>Mission index</h1>
    {{ include('mission/_filter_form.html.twig', {'button_label': 'Search'}) }}
    <table class="table">
        <thead>
        <tr>
            {% if is_granted(['ROLE_ADMIN']) %}
                <th>CLIENT</th>
            {% endif %}
            <th>Service date</th>
            <th>Product name</th>
            <th>Vendor name</th>
        </tr>
        </thead>
        <tbody>
        {% for mission in missions %}
            <tr>
                {% if is_granted(['ROLE_ADMIN']) %}
                    <td>{{ mission.client.username }}</td>
                {% endif %}
                <td>
                    <a href="{{ path('mission_show', {'id': mission.id}) }}">
                        {{ mission.serviceDate ? mission.serviceDate.format('Y-m-d') : '' }}
                    </a>
                </td>
                <td><a href="{{ path('mission_show', {'id': mission.id}) }}">{{ mission.productName }}</a></td>
                <td>{{ mission.vendorName }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {# display navigation #}
    <div class="navigation">
        {{ knp_pagination_render(missions) }}
    </div>
    <a href="{{ path('mission_create') }}">Create new</a>
{% endblock %}
