{% extends 'base.html.twig' %}

{% block title %}Mission{% endblock %}

{% block body %}
    <h1>Mission</h1>

    <table class="table">
        <tbody>

        {% if is_granted('ROLE_ADMIN') %}
            <tr>
                <th>Client</th>
                <td>{{ mission.client.username }}</td>
            </tr>
        {% endif %}
        <tr>
            <th>Service date</th>
            <td>{{ mission.serviceDate ? mission.serviceDate.format('Y-m-d') : '' }}</td>
        </tr>
        <tr>
            <th>Product name</th>
            <td>{{ mission.productName }}</td>
        </tr>
        <tr>
            <th>Quantity</th>
            <td>{{ mission.quantity }}</td>
        </tr>
        <tr>
            <th>Destination country</th>
            <td>{{ get_country_name(mission.destinationCountry) }}</td>
        </tr>
        <tr>
            <th>Vendor name</th>
            <td>{{ mission.vendorName }}</td>
        </tr>
        <tr>
            <th>Vendor email</th>
            <td>{{ mission.vendorEmail }}</td>
        </tr>
        </tbody>
    </table>

    <a href="{{ path('mission_list') }}">back to list</a>

    <a href="{{ path('mission_update', {'id': mission.id}) }}">edit</a>

    {{ include('mission/_delete_form.html.twig') }}
{% endblock %}
